body {
  margin: 0;
  background-color: #eff3f5;
}

.card-main {
 margin: 10px;
  float: left;
  width: 24.99999%;

  border-radius: 8px;
  background-color: aqua;
  position: relative;
  overflow: hidden;
}

.card-img {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 1;
}


